<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>1StepIconAir</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1StepIconAir60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>1StepIconAirDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1StepIconAirDark60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>1StepIconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1StepIconDark60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>1StepIconEarth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1StepIconEarth60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>1StepIconEarthDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1StepIconEarthDark60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>1StepIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Privacy reasons</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows user to upload a profile picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
